@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    scroll-behavior: smooth;

}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;

}
body{
    
    background: #1d1d1d;
   
    color: #fff;
    
    overflow-y: scroll;
    overflow-x: hidden;
}



.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
.section-title {
    font-size: 4rem;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    box-shadow: .6em 0 0 transparent;
    margin: 2rem 1rem;
    width: 23ch;
    overflow: hidden;

    white-space: nowrap;
    animation: caret .5s step-end infinite alternate,
        type 5s steps(23, end)
} */

.section-title {
    font-size: 4rem;
    font-weight: 500;
    color: orange;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    
}



@keyframes type {
    0% {
        width: 0;
    }

}

@keyframes caret {
    50% {
        box-shadow: .6em 0 0 transparent;
    }
}

/* Menu */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    text-align: center;
    transition: color 0.2s;
    position: relative;
}

.logo {
    font-size: 2rem;
    font-weight: 100;
    color: orange;
}

.logo span {
    color: white;
}

.logo-alt span {
    color: orange;
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}





nav ul li a:hover, nav ul li a.active {
    color: orange;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -1.5rem;
    transition: width 0.2s;
}

nav ul li a:hover::after, nav ul li a.active::after {
    width: 100%;
}



header {
    background-image: linear-gradient(60deg, rgb(60, 16, 163) 85%, rgba(92, 92, 175, 0.2)100%);
    height: 100%;
    display: flex;
    align-items: center;


}

header .list-items {
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-items li a {
    color: white;
}

header .menu {
    justify-content: space-between;
}

 #about h2 {
    font-family: font-file-82132;
    color: #08fdd8;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;
    font-size: 7.3rem;
    line-height: 6.7rem;
}


#about h2:before {
    content: '<h2>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -4rem;
    left: -1rem;
}

#about h2:after {
    content: '<h2/>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    left: -1rem;
    bottom: -5rem;
}
#about  p:first-of-type:before {
    content: '<p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -2rem;
    left: -2rem;
}
#about  p {
    position: relative;
    margin-bottom: 1.5rem;
}

#about  p:last-of-type:after {
    content: '<p/>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    left: -2rem;
    bottom: -3rem;
}


/* Seção de apresentação */
#presentation {
    background-image: url(./assets/backgroud.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#presentation h1 {

    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#presentation h1:nth-child(1) {
    animation-delay: .8s;
}

#presentation h1:nth-child(2) {
    animation-delay: 1.8s;
}

#presentation h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}

#presentation .cta {
    display: inline-block;
    padding: 10px 30px;
    color: orange;
    background-color: transparent;
    border: 2px solid orange;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;

}

#presentation .cta:hover {
    color: white;
    font-weight: 500;
    background-color: orange;
}

#presentation h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: orange;

}

#presentation h1:nth-child(1) span {
    animation-delay: .5s;

}

#presentation h1:nth-child(2) span {
    animation-delay: 1.5s;

}

#presentation h1:nth-child(3) span {
    animation-delay: 2.5s;

}

#presentation::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}



/* Seção de Projects */

#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 50px;

}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(60deg, rgb(60, 16, 163) 0%, rgba(1, 1, 77, 0.2)100%);
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.5;
}

#projects .project-item:hover .project-img img {
    transition: 0.5s ease transform;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

/* Keyframes */
/* Keyframes */

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: orange;
        font-weight: 500px;
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%
    }
}

/* Media Query */
@media only screen and (min-width: 768px) {
    #projects .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .all-projects .project-info {
        height: 100%
    }

    #projects .all-projects .project-img {
        height: 100%
    }

    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }


}


@media screen and (max-width: 480px){
.text-zone h2, h2 {
    font-size: 4.5rem;
    line-height: 4.2rem;
}

}

@media screen and (max-width: 900px){
.text-zone h2 {
    line-height: 4.9rem;
}
}


@media screen and (max-width: 380px){
h2 {
    font-size: 4rem;
    line-height: 4rem;
}
}

@media screen and (max-width: 600px){
h2 {
    font-size: 5.5rem;
    line-height: 6rem;
}}


@media screen and (max-width: 1100px){
h2 {
    font-size: 6.5rem;
    line-height: 6rem;
}}